.menu-team
{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.team-content-wrapper
{
    padding: 32px 16px;
    text-align: center;
}

.team
{
    padding: 120px 0;
    background-color: #f4f4fd;
}
.card-team
{
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.our-team
{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
}

.name-team
{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
}

.position-team
{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
}

/*https://flexboxfroggy.com*/